.container{
    margin-top: 12%;
    width: 100%;
}
.innerContainer{
    margin-left: 10%;
    margin-right: 10%;
        width: 90%;
 }
.innerContainer h1{
    margin-bottom: 3%;
}

.innerContainer ul li{
    font-size: 15px;
    padding: 10px;
    width: 60%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
     border-radius: 4px;
     background-color: #fff;
}
.innerContainer ul li div img{
    width: 45px;
    height: 30px;
    margin-right: 10%;
    margin-top: -5px;
 }
 .innn{
     display: flex;
  }