.container{
  width: 100%;
 margin-top: 12%;
}
.container{
  background-color: rgb(255 139 139 / 48%);
  padding: 20px 0px 50px 0px;
}
.flexContainer{
  padding-top: 60px;
  font-size: 10px;
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}